:root {
  --bc-colors-blue: #003366;
  --bc-colors-blue-alt: #38598a;
  --bc-colors-yellow: #fcba19;
  --bc-colors-text: #313132;
  --bc-colors-links: #1a5a96;
  --bc-colors-components: #606060;
  --bc-colors-bg-blue: #38598a;
  --bc-colors-bg: #f2f2f2;
  --bc-colors-success: #2e8540;
  --bc-colors-error: #d8292f;
  --spinner-dimensions: 80px;
}

/**
 * Reset
 * Source: https://www.joshwcomeau.com/css/custom-css-reset/
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: "BCSans", "Noto Sans", "Verdana", "Arial", "sans-serif";
  color: var(--bc-colors-text);
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

/*
* Main
*/
.bc-header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  background-color: #036;
}

.bc-header svg {
  display: inline-block;
  width: 154px;
  height: 43px;
}

.bc-header__title {
  line-height: 1.2;
  margin: 0;
  padding-left: 10px;
}

.bc-header__inner {
  display: flex;
  align-items: center;
}

.main {
  display: grid;
  place-items: center;
  height: calc(100vh - 64px);
}

.content {
  max-width: 880px;
}

.container {
  max-width: 880px;
  text-align: center;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mark {
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 100%;
  padding-inline: 3px;
  display: inline-grid;
  place-items: center;
  background-color: #f5f6fa;
}

mark loading-spinner {
  display: block;
  width: var(--spinner-dimensions);
  height: var(--spinner-dimensions);
}

.btn-secondary {
  border: 3px solid var(--bc-colors-blue-alt);
  background-color: #fff;
  border-radius: 4px;
  font-weight: bold;
  padding-inline: 30px;
  height: 44px;
  color: var(--bc-colors-blue-alt);
  cursor: pointer;
}

.btn-secondary:hover {
  color: #fff;
  background-color: var(--bc-colors-blue-alt);
  text-decoration: underline;
}

/**
 * Loading ring taken from https://loading.io/css/
 */
.spinner {
  display: inline-block;
  position: relative;
  width: var(--spinner-dimensions);
  height: var(--spinner-dimensions);
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--spinner-color, #fff);
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--spinner-color, #fff) transparent transparent transparent;
}
.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  .spinner div {
    display: none;
  }
}

.ie .bc-header {
  background-color: #036;
}

.ie template,
.ie queue-poller {
  display: none;
}

.content {
  margin: 200px auto;
  max-width: 800px;
}

mark {
  display: flex;
  align-items: center;
  justify-content: center;
}
