:root {
    --bc-colors-blue: #003366;
    --bc-colors-blue-alt: #38598a;
    --bc-colors-yellow: #fcba19;
    --bc-colors-text: #313132;
    --bc-colors-links: #1a5a96;
    --bc-colors-components: #606060;
    --bc-colors-bg-blue: #38598a;
    --bc-colors-bg: #f2f2f2;
    --bc-colors-success: #2e8540;
    --bc-colors-error: #d8292f;
}

@font-face {
    font-family: "BCSans";
    src: url("/public/fonts/BCSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BCSans";
    src: url("/public/fonts/BCSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BCSans";
    src: url("/public/fonts/BCSans-Italic.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "BCSans";
    src: url("/public/fonts/BCSans-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

/*
* Reset
* Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    font-family: "BCSans", "Noto Sans", "Verdana", "Arial", "sans-serif";
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

/*
* Main
*/
.bc-header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
    color: #fff;
    background-color: var(--bc-colors-blue);
}

.bc-header svg {
    display: inline-block;
    width: 154px;
    height: 43px;
}

.bc-header__title {
    line-height: 1.2;
    margin: 0;
}

.bc-header__inner {
    gap: 10px;
    display: flex;
    align-items: center;
}

.main {
    display: grid;
    place-items: center;
    height: calc(100vh - 64px);
}

.content {
    max-width: 50vw;
}

.error {
    color: var(--bc-colors-error);
}

mark {
    padding-inline: 3px;
    background-color: var(--bc-colors-bg);
}
